* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

.header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  background-color: blueviolet;
  padding: 30px;
}

.header__left-pane{
  display: grid;
justify-content: left;
place-items: center;
}

.header__right-pane{
  display: grid;
justify-content: right;
place-items: center;
}

.main-page {
  height: 500px;
  background-color: rgb(219, 181, 255);
}

ul {
  list-style: none;
  display: grid;
 grid-auto-flow: column;
 gap: 30px;

}
.book-cover{
  width:150px;
}
.books-display{
  display: grid;  
  padding:20px;
}

.main-page{
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(5, 1fr);
  justify-content: center;
}