* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#app{
  display: grid;
  width:100%;
  height:100%;
}

.header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  background-color: blueviolet;
  padding: 30px;
}

.header__left-pane{
  display: grid;
justify-content: left;
place-items: center;
}

.header__right-pane{
  display: grid;
justify-content: right;
place-items: center;
}

.main-page {
  height: max-content;
  background-color: rgb(219, 181, 255);
}

ul {
  list-style: none;
  display: grid;
 grid-auto-flow: column;
 gap: 30px;

}
.book-cover{
  width:150px;
}
.books-display{
  display: grid;  
  padding:30px;
  grid-template-columns: repeat(6, 1fr);
}

.main-page{
  display: grid;
  grid-auto-flow: row;
  justify-items: center;
}

.main-page__text{
padding-top: 20px;
}

.main__detailBook{
 display: grid;
 grid-auto-flow: column;
 gap: 30px;
 width:fit-content;
padding:60px
}

.book-details{
  margin-top: 30px;
  display: grid;
}

.book-description__paragraph{
  width: 650px
}

.single-book_image{
  width:300px;
}

/* CSS for the form */
.login h2{
  font-size: 30px;
  background: -webkit-linear-gradient(pink, #c0c4e7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-left: 30px;
}
.bodyform{
  display: grid;
  justify-content: center;
  place-items: center;
  background-image: linear-gradient(to right bottom,  rgb(215, 89, 215) 30%,
  rgb(219, 181, 255) 50%);
  font-family: sans-serif;
  /* background-color: blueviolet; */
}
.login p{
font-size: 12px;
text-align: end;
}

  
form{
  background-color: white;
width: 400px;
  display: grid;
  gap: 1rem;
  place-content: center;

}
.login{
  display: grid;


}
.input{
  border: none;
  border-bottom: 1px solid rgb(202, 200, 200);
}
.button{
  border: none;
  border-radius: 20px;
  padding: 5px;
  background: linear-gradient(pink, #c0c4e7);
}
.icon{
  display: grid;
  grid-template-columns: 40px 40px 1fr;
  padding-left: 20px;

}
.text{
  margin: 0px;
  font-size: 12px;
  padding-left: 30px;
  
}
.text.c1{
  margin-top: 70px;
  
}
.text.d1{
 margin-left: 20px;
 text-decoration: none;
 color: black;

}
.backbutton{
  display: grid;
  border-radius: 5px;
  padding: 10px;
  background:gainsboro;
  margin-top: 20px;
  margin:20px;
}
.reviews{
  display: grid;
  grid-auto-flow: row;
  gap:5px;

}