*{
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

.header{
 height: 70px;
  background-color: blueviolet;
}

.main-page{
  height: 500px;
  background-color: rgb(219, 181, 255);
}